body {
  margin: 0;
  background-color: white;
  font-family: Helvetica;
  overflow-x: hidden;
}

.page1 {
  display: block;
  text-align: center;
  height: auto;
  margin: 0;
}

.photo1, .banner {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}


.title {
  position: absolute;
  color: white;
  top: 40px;
  left: 50px;
}

.line {
  position: absolute;
  width: 50%;
  color: white;
  top: 115px;
  left: 260px;
}

.organization {
  position: relative;
  color: white;
  top: 200px;
  text-shadow: 2px 2px 4px #000000;
}

.students {
  position: relative;
  top: 250px;
  margin: auto;
  color: white;
  width: 500px;
  font-weight: lighter;
  opacity: 0.7;
  text-shadow: 2px 2px 4px #000000;
}

.learn {
  position: absolute;
  color: white;
  top: 30%;
  left: 50%;
  font-size: 1em;
}

.arrow {
  position: absolute;
  color: white;
  top: 30%;
  left: 53%;
  font-size: 2.5em;
}

.iphone1 {
  width: 80%;
}

.iphone2 {
  width:80%;
}

.item2 { grid-area: phone1;}
.item3 { grid-area: phone2;}
.item4 { grid-area: focus;  width: 100%;height: 20%;}
.item5 { grid-area: life;}

.grid-container2 {
  display: grid;
  grid-template-areas:
  'phone1 phone1 phone2 phone2 focus focus'
  'phone1 phone1 phone2 phone2 life life'
  'phone1 phone1 phone2 phone2 life life';
  grid-gap: 10px;
  padding: 10px;
  padding-top: 50%;
  padding-left: 100px;
}

.grid-container2 > div {
  background-color: white
  text-align: left;
}

.focus {
  font-family: Times;
  padding-right: 1em;
}

.life{

  font-weight: lighter;
  opacity: 0.8;
  font-family: Helvetica;
}

.planning {
  position: relative;
  float: right;
  font-size: 1.5em;
  left: 70px;
  color: #3b5cca;
  margin-bottom: 100px;
}

.banner {
  position: relative;
  top: 130px;
  color: #3b5cca;
  text-align: center;
  vertical-align: middle;
}

.work {
  width: 100%;
  height: 350px;
  background-color: #dbdde5;
  margin: auto;
  display: inline-block;
}

.school {
  padding-top: 110px;
  font-size: 3em;
  font-family: Serif;
}

.banner{
  position: relative;
}

.lorem1{
  position: absolute;
  margin-top: 300px;
  width: 380px;
  font-weight: lighter;
  text-align: center;
}

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fffcf3;
  padding: 20px;
  margin: auto;
}

.grid-item {
  padding: 20px;
  font-size: 1em;
  text-align: center;
}

.grid-item-1 {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
  font-family: serif;
  color: #0d3193;
  font-size: 4em;
}

.lorem3{
  position: absolute;
  margin-top: 300px;
  left: 66%;
  width: 380px;
  font-weight: lighter;
  text-align: center;
}

.background {
  width: 100%;
  height: 400px;
  background-color: #fffcf3;
}

.footer {
  position: absolute;
  background-color: #0d3193;
  width: 100%;
  height: 400px;
}

.getorganized {
  position: relative;
  font-family: Serif;
  font-size: 4em;
  color: white;
  text-align: center;
  top: 20%;
}

.download {
  display: table;
  position: relative;
  top: 25%;
  margin: 0 auto;
  font-size: 1.3em;
  width: 30%;
  height: 60px;
  color: #3b5cca;
  background-color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  text-decoration: none;
  -webkit-box-shadow: 10px 10px 130px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 130px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 130px 0px rgba(0,0,0,0.75);
  border-radius: 50px;
}

.socialmedia {
  height: 10%;
  display: table;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 65px;
}
@media screen and (min-width: 1700px) {
  html, body{
    position: relative;
    display: table;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1699) {
  .organization {
    font-size: 2.5em;
    top:180px;
  }
  .students{
    font-size: 1.5em;
    top:180px;
  }
  .life {
    font-size: 1.5em;
  }
  .focus {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .organization {
    font-size: 1.8em;
    top:180px;
  }
  .students{
    font-size: 1.2em;
    top:180px;
  }
  .life {
    font-size: 1.2em;
  }
  .focus {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .organization {
    font-size: 1.5em;
    top:180px;
  }
  .students{
    font-size: 1.2em;
    top:180px;
  }
  .life {
    font-size: 1.2em;
  }
  .focus {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px) {
  .title {
    top: 30px;
  }
  .organization {
    font-size: 1.2em;
    top: 60px;
  }
  .students{
    font-size: 0.9em;
    top:60px;
    width: auto;
    padding: 0 40px;
  }
  .grid-item {
    font-size: 0.7em;
  }
  .grid-item-1 {
    font-size: 1.8em;
  }
  .background{
    height: 400px;
  }
  .school {
    padding-top: 30px;
    font-size: 2em;
    font-family: Serif;
  }
  .line{
    display: none;
  }
  .title{
    text-align: center;
    display: table;
    position: relative;
    margin: 0 auto;
    text-align: center;
    left: -5px;
    font-size: 2.5em;
  }
  .getorganized {
    font-size: 2em;
    color: white;
    text-align: center;
  }
  .grid-container2 {
    padding-top: 50%;
    padding-left: 10px;
  }
  .page3 .banner{
    display: none;
  }
  .download{
    font-size: 0.7em;
    height: 40px;
  }
  .focus {
    font-size: 1.2em;
  }
  .life {
    font-size: 0.9em;
  }
}
